/* 26th y california css */
body {
  font-family: "Radley", Georgia, serif;
  font-size: 15px;
  background-color: #f3f3f3;
  padding-top: 40px;
}

a { color: #900; }
a:hover { color: #c00; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
}

h2 { font-size: 19px; }
h3 { font-size: 14px; }

hr {
  background-color: #ccc;
  border: none;
  height: 1px;
  margin: 40px 0;
}

section {
  margin-top: -40px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 65px;
}

.es {
  font-style: italic;
}

.pagenav {
  padding: 4px 0;
  margin-bottom: 50px;
}
.pagenav.affix {
  width: 100%;
  z-index: 100;
  background-color: rgba(235, 235, 235, 0.95);
  border-bottom: 1px solid #aaa;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
  height: 40px;
  top: 0;
  left: 0;
}

.pagenav .nav { 
  float: none;
  display: inline-block;
  font-size: 17px;
  line-height: 25px;
}
.pagenav .nav>li>a {
  padding: 2px 15px;
}
.pagenav .nav>li.active>a, .pagenav .nav>li>a:hover, .pagenav .nav>li>a:focus {
  background-color: #fff;
  color: #900;
}

.box {
  position: relative;
  padding: 30px 40px;
  background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 35px rgba(0, 0, 0, 0.08) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 35px rgba(0, 0, 0, 0.08) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 35px rgba(0, 0, 0, 0.08) inset;
}
 
.box:before {
  content:"";
  position:absolute; 
  z-index:-2;
  top:50%;
  bottom:0;
  left:10px;
  right:10px;
  -webkit-box-shadow:0 0 15px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 15px rgba(0,0,0,0.4);
  box-shadow:0 0 15px rgba(0,0,0,0.4);
  -moz-border-radius:10px / 100px;
  border-radius:10px / 100px;
}

.intro {
  text-align: center;
  padding-bottom: 10px;
  margin: 0 120px 20px 120px;
}
.intro, .footer {
  font-size: 22px;
  line-height: 30px;
}
.intro .social-links {
  margin-top: 20px;
  font-size: 38px;
}
.intro .social-links a {
  display: inline-block;
}
.footer a { font-style: italic; }

h1.headline { 
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 60px;
  border-bottom: 1px solid #bbb;
}

.back {
  float: right;
  margin-top: -35px;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.table {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}
.table th,
.table td {
  padding-left: 0;
  padding-right: 0;
}
.table>tbody>tr>th {
  font-size: 12px;
  line-height: 15px;
  vertical-align: middle;
  padding: 8px 4px 8px 0;
}
.table>tbody>tr>td {
  line-height: 15px;
  padding: 8px 4px 8px 0;
  vertical-align: middle;
}
td.value {
  text-align: right;
}

td small {
  font-weight: normal;
  font-size: 10px;
  color: #999;
}
.lines path {
  fill: none;
  stroke: #1f78b4;
  stroke-width: 2px;
  opacity: 0.7;
}
.lines path.females_population_wh {
  stroke: #a6cee3;
}
.lines path.females_population_lt {
  stroke: #1f78b4;
}
.lines path.females_population_bk {
  stroke: #b2df8a;
}
.lines path.females_population_as {
  stroke: #33a02c;
}
.lines path.males_population_wh {
  stroke: #e31a1c;
}
.lines path.males_population_lt {
  stroke: #fb9a99;
}
.lines path.males_population_bk {
  stroke: #fdbf6f;
}
.lines path.males_population_as {
  stroke: #ff7f00;
}

.axis path.domain {
  stroke: none;
}
.axis line,
.axis path {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.y text, .x text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  fill: #444;
}
.y text {
  font-size: 10px;
  fill: #555;
}
.y .tick:not(:first-child) line {
  stroke: #ccc;
}
.bar {
  fill: #ccc;
  opacity: 0;
  stroke: none;
}
.highlight {
  opacity: 0.5;
}
.day-ticks text {
  fill: none;
  display: none;
}
.chart-wrapper {
  margin-bottom: 50px;
}
.detail {
  margin: 30px 0 0 0;
}
.chart-wrapper {
  margin-right: 180px;
}
.legend {
  float: right;
  width: 160px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.legend .table {
  margin-bottom: 0;
}
.legend .table td, .legend .table th {
  border: none;
}
.legend-marker-col {
  width: 12px;
}
.legend p.date {
  padding-left: 4px;
  font-size: 13px;
}
.legend-marker {
  display: inline-block;
  width: 15px;
  height: 100%;
  opacity: 0.7;
}
.population .legend-marker,
.left .legend-marker,
.booked .legend-marker
{
  background-color: #1f78b4;
}
.males_population_wh .legend-marker {
  background-color: #e31a1c;
}
.males_population_lt .legend-marker {
  background-color: #fb9a99;
}
.males_population_as .legend-marker {
  background-color: #ff7f00;
}
.males_population_bk .legend-marker {
  background-color: #fbdf6f;
}
.females_population_wh .legend-marker {
  background-color: #a6cee3;
}
.females_population_lt .legend-marker {
  background-color: #1f78b4;
}
.females_population_as .legend-marker {
  background-color: #33a02c;
}
.females_population_bk .legend-marker {
  background-color: #b2df8a;
}
.legend .table {
  font-size: 13px;
}
td.legend-field {
  width: 65%;
  text-align: left;
  font-weight: normal;
}
td.legend-value {
  text-align: right;
}

@media (max-width: 768px) {
  h1.headline { 
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 48px;
  }

  .intro {
    margin: 0;
    font-size: 16px;
  }

  .pagenav {
    margin-bottom: 10px;
  }

  .pagenav .nav { 
    display: block;
    font-size: 24px;
    line-height: 38px;
    text-align: left;
  }

  .pagenav li {
    float: none;
  }

  .pagenav li a:before {
    font-family: FontAwesome;
    margin-right: 5px;
    color: #a33;
    content: "\f18e";
  }

  .pagenav.affix {
    position: static;
    height: auto;
    border: none;
    background-color: transparent;
  }
}


