/* 26th y california css */
body {
  font-family: "Radley", Georgia, serif;
  font-size: 18px;
  background-color: #fafafa;
}

a { color: #900; }
a:hover { color: #c00; }


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
}

h2 { font-size: 17px; }
h3 { font-size: 14px; }

hr {
  background-color: #ccc;
  border: none;
  height: 1px;
  margin: 40px 0;
}

section {
  margin-bottom: 65px;
  padding: 0 20px;
}


.pagenav {
  padding: 4px 0;
  margin-bottom: 50px;
}
.pagenav.affix {
  width: 100%;
  z-index: 100;
  background-color: #fff;
  border-bottom: 1px solid #aaa;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
  height: 40px;
  top: 0;
  left: 0;
}

.pagenav .nav { 
  float: none;
  display: inline-block;
  font-size: 17px;
  line-height: 25px;
}
.pagenav .nav>li>a {
  padding: 2px 15px;
}
.pagenav .nav>li>a:hover, .pagenav .nav>li>a:focus {
  background-color: #fff;
}

.box {
    position: relative;
    padding: 20px 20px;
    background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 35px rgba(0, 0, 0, 0.08) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 35px rgba(0, 0, 0, 0.08) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 35px rgba(0, 0, 0, 0.08) inset;
}
 
.box:before {
  content:"";
  position:absolute; 
  z-index:-2;
  top:50%;
  bottom:0;
  left:10px;
  right:10px;
  -webkit-box-shadow:0 0 15px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 15px rgba(0,0,0,0.4);
  box-shadow:0 0 15px rgba(0,0,0,0.4);
  -moz-border-radius:10px / 100px;
  border-radius:10px / 100px;
}

.intro {
  text-align: center;
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 0 120px 20px 120px;
  font-size: 20px;
}
.intro .social-links {
  margin-top: 10px;
  font-size: 29px;
}
.intro .social-links a {
  display: inline-block;
}


h1.headline { 
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 60px;
  border-bottom: 1px solid #bbb;
}

.back {
  float: right;
  margin-top: -30px;
  font-size: 14px;
}

.table {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}
.table th,
.table td {
  padding-left: 0;
  padding-right: 0;
}
.table>tbody>tr>th {
  font-size: 12px;
  line-height: 15px;
  vertical-align: middle;
}
.table>tbody>tr>td {
  line-height: 15px;
  font-weight: bold;
  text-align: right;
}
td small {
  font-weight: normal;
  font-size: 10px;
  color: #999;
}
.legend-marker {
  display: block;
  float: left;
  height: 12px;
  width: 12px;
  margin-right: 4px;
  background-color: #900;
}
.left .legend-marker {
  background-color: #999;
}
.lines path {
  fill: none;
  stroke: #900;
  stroke-width: 1.5px;
}
.lines path.left {
  stroke: #999;
}
.axis path.domain {
  stroke: none;
}
.axis line,
.axis path {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.y text, .x text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  fill: #444;
}
.y text {
  font-size: 10px;
  fill: #555;
}
.y .tick:not(:first-child) line {
  stroke: #ccc;
}
.bar {
  fill: #ccc;
  opacity: 0;
  stroke: none;
}
.highlight {
  opacity: 0.5;
}
.day-ticks text {
  fill: none;
  display: none;
}
.chart-wrapper {
  margin-bottom: 50px;
}
.chart-wrapper, .detail {
  margin-right: 180px;
}
.legend {
  float: right;
  width: 160px;
}
.legend .table {
  margin-bottom: 0;
  /*font-size: 11px;*/
}
.legend .table td, .legend .table th {
  border: none;
}

@media (max-width: 768px) {
  h1.headline { 
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 48px;
  }

  .intro {
    margin: 0;
    font-size: 16px;
  }

  .pagenav {
    margin-bottom: 10px;
  }

  .pagenav .nav { 
    display: block;
    font-size: 24px;
    line-height: 38px;
    text-align: left;
  }

  .pagenav li {
    float: none;
  }

  .pagenav li a:before {
    font-family: FontAwesome;
    margin-right: 5px;
    color: #a33;
    content: "\f18e";
  }

  .pagenav.affix {
    position: static;
    height: auto;
    border: none;
    background-color: transparent;
  }
}


